h1 {
	font-family: 'Playfair Display SC', serif;
}

.container {
	padding-top: 50px;
	box-shadow: 0px 0px 15px #cccccc;
	text-align: center;
}

.footer {
	margin-top: 50px;
	margin-bottom: 50px;
}

@media (max-width: 990px) {
	.screen-only {
		display: none;
	}

	.well:before {
		content: "Your screen width is not large enough!";
	}
}